<%- include('partials/header') %>

<!--<pre>-->
<!--    <%= places %>-->
<!--</pre>-->

<div class="container col-md-6 mt-4">
    <% for(var i = 0; i < places.length; i++) { %>

        <table class="table table-hover mb-4">
            <thread>
                <tr class="table-info">
                    <td><%= places[i].name %></td>
                    <td><a class="btn btn-secondary">Visitado</a></td>
                </tr>
            </thread>
            <tbody>
            <tr class="table-light">
                <td><%= places[i].description %></td>
                <td><a href="/edit/<%= places[i].id %>" class="btn btn-warning">Edit</a>
                    <a href="/delete/<% places[i].id %>" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>

    <% } %>

</div>

<%- include('partials/footer') %>
