<%- include('partials/header') %>

<!--<pre>-->
<!--    <%= places %>-->
<!--</pre>-->

<div class="container col-md-6 mt-4">
            <% for(var i = 0; i < places.length; i++) { %>

                <table class="table table-bordered table-hover mb-4">
                    <thread>
                        <tr class="bg-primary">
                            <td rowspan="2" class="text-white"><h4><%= i + 1 %></h4></td>
                            <td class="text-white"><%= places[i].name %></td>
                            <td><a href="/turn/<%= places[i]._id %>" class="btn <%= places[i].status ? 'btn-info':'btn-secondary' %>">Visitado</a>
                                <a href="/edit/<%= places[i].id %>" class="btn btn-warning">Edit</a>
                                <a href="/delete/<%= places[i]._id %>" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    </thread>
                    <tbody>
                    <tr class="table-light">
                        <td colspan="2"><%= places[i].description %></td>
                    </tr>
                    </tbody>
                </table>

            <% } %>


</div>

<%- include('partials/footer') %>
